@import "tailwindcss";

 /* Light theme */
:root {
  --bg: #f5f6f5;       /* background */
  --textbox: #ffffff;  /* textbox */
  --button:#026a4b;;   /* button */
  --text: #292e2c;     /* text */
  --div: #ffffff;      /* div */
  --light-gray: #adadad;
  --mid-dark: #313131;

  /* Additional colors */
  --success: #22c55e;  /*  للنجاح */
  --error: #ef4444;    /*  للحذف */
  --primary: #3b82f6;  /*  للروابط/الاختيارات */
  --warning: #facc15;  /*     */
  --border: #d8dad9;
  --hover:#d0d5d2 ;/*   للهوفر  */
;
}

/* Dark theme */
.dark {
  --bg: #373a3a;       /* background */
  --textbox: #eae8e8;  /* textbox */
  --button: #026a4b;   /* button */
  --text: #ffffff;     /* text */
  --div: #3e3d3d;      /* dark div */
  --mid-dark: #313131; /* between bg and div */
  --light-gray: #adadad;

  /* Additional colors */
  --success: #22c55e;  /*  للنجاح */
  --error: #ef4444;    /*  للحذف */
  --primary: #3b82f6;  /*  للروابط/الاختيارات */
  --warning: #facc15;  /*     */
  --border: #575858;/*   للبوردرات  */
  --hover:#4f5452 ;/*   للهوفر  */
}
